body{
    margin: 0;
    
}
div#page {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "section section"
    "footer footer"
    ;
    grid-template-columns: auto 300px;
    grid-template-rows: 100px 40px 400px 100px;

}
header{
    background-color: rgb(255, 154, 196);
    grid-area: header;
    display: grid;
    grid-template-columns: 100px auto;
}
header img{
    height: 100%;
}
header h1{
    text-align: center;
    font-size: 50px;
}

nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
nav a{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
nav a.active {
    background-color: rgb(161, 87, 190);
}
nav a:hover{
    background-color: rgb(161, 87, 190);
}

section#main{
    background-color: rgb(255, 244, 197);
    grid-area: section;
    display: grid;
    grid-template-rows: 70px auto;
    grid-template-areas: 
    "title img"
    "description img";
    
}
section#main img{
    height: 400px;
}
section#main h2{
    grid-area: title;
    text-align: center;
    font-style: italic;
}
section#main p{
    grid-area: description;
    text-align: justify;
    font-style: oblique;
    font-size: 120%;
    padding: 20px;
}

section#cart  {


}
footer{
    background-color: #47fff0;
    grid-area: footer;
    margin-top: auto;
}
footer nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
footer nav a{
    background-color: transparent;
    border: none;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);

}
footer nav a:hover{
    background-color: rgb(72, 157, 255);
}